@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .mobile-menu-item {
    @apply block border-l border-transparent pl-5 text-gray-600 dark:text-gray-300 hover:border-gray-950/25 hover:text-gray-950 dark:hover:border-white/25 dark:hover:text-white;
  }

  .btn-primary-violet {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-violet-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-violet-700);
      }
    }
  }

  .btn-primary-sky {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-sky-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-sky-700);
      }
    }
  }
}
