
<section class="section home-section">
  <h1>Welcome to Giri's Place</h1>
  <p>A personal site with a variety of tools and blogs for developers. Explore useful features like data conversion, encryption, time management, and more.</p>

  <div class="tool-categories">
    <div class="category-card">
      <h2>Encode/Decode</h2>
      <p>Easily encode and decode Base64 and URL data.</p>
      <a href="/tools/encode-decode/base64.html" class="btn">Try</a>
    </div>
    <div class="category-card">
      <h2>String Tools</h2>
      <p>Provides UUID generation, random Hex values, and string analysis tools.</p>
      <a href="/tools/string/uuid.html" class="btn">Try</a>
    </div>
    <div class="category-card">
      <h2>Time Management</h2>
      <p>Convert Unix Timestamp and check current time.</p>
      <a href="/tools/time/timestamp.html" class="btn">Try</a>
    </div>
    <div class="category-card">
      <h2>Hash</h2>
      <p>Generate Hash with Secure Hash Algorithm 1, 2, 3. Also HMAC</p>
      <a href="/tools/hash/sha-3.html" class="btn">Try</a>
    </div>
    <div class="category-card">
      <h2>Encrypt/Decrypt</h2>
      <p>Encrypt your data securely with AES and RSA.</p>
      <a href="/tools/encrypt-decrypt/aes.html" class="btn">Try</a>
    </div>
  </div>

  <div class="cta">
    <p>Check out the left menu to explore more tools!</p>
  </div>
</section>

