<div class="mx-auto grid w-full max-w-2xl grid-cols-1 gap-10 xl:max-w-5xl xl:grid-cols-[minmax(0,1fr)_var(--container-2xs)]">
  <div class="px-4 pt-10 pb-24 sm:px-6 xl:pr-0">
    <p class="flex items-center gap-2 font-mono text-xs/6 font-medium tracking-widest text-gray-600 uppercase dark:text-gray-400" data-section="true">
      Developer Playground
    </p>
    <h1 data-title="true" class="mt-2 text-3xl font-medium tracking-tight text-gray-950 dark:text-white">
      Welcome to Giri's Place
    </h1>
    <p data-description="true" class="mt-6 text-base/7 text-gray-700 dark:text-gray-400">
      A personal site with a variety of tools and blogs for developers. Explore useful features like data conversion, encryption, time management, and more.
    </p>
    <div class="prose mt-10" data-content="true">
      <div id="quick-reference" class="not-prose relative isolate scroll-mt-16">
        <div class="max-w-screen p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Encode/Decode</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Easily encode and decode Base64 and URL data.
          </p>
          <a href="/tools/encode-decode/base64.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Play With Encode/Decode
          </a>
        </div>
        <br>
        <div class="max-w-screen p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">String Tools</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Provides Json Parser, UUID generation, random Hex values, and string analysis tools.
          </p>
          <a href="/tools/string/uuid.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Play With String Tools
          </a>
        </div>
        <br>
        <div class="max-w-screen p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Time</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Convert Unix Timestamp and check current time.
          </p>
          <a href="/tools/time/timestamp.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Play With String Tools
          </a>
        </div>
        <br>
        <div class="max-w-screen p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Hash</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Generate Hash with Secure Hash Algorithm 1, 2, 3. Also HMAC
          </p>
          <a href="/tools/time/timestamp.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Play With Hash
          </a>
        </div>
        <br>
        <div class="max-w-screen p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Encrypt/Decrypt</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Encrypt your data securely with AES and RSA.
          </p>
          <a href="/tools/encrypt-decrypt/aes.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
            Play With Hash
          </a>
        </div>
        <br>
        <div class="mb-6">
          <p>Check out the left menu to explore more tools!</p>
        </div>
      </div>
        <div class="max-w-screen p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
          <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-nZOLt6AO6PDMGqAR" data-ad-width="300"
               data-ad-height="250"></ins>
        </div>
      </div>
      <footer class="mt-16 text-sm leading-6">
<!--        <div class="flex items-center justify-between gap-2 text-gray-700 dark:text-gray-200"><a-->
<!--          class="group flex items-center gap-2 hover:text-gray-900 dark:hover:text-white"-->
<!--          href="/docs/scroll-snap-type">-->
<!--          <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">-->
<!--            <path fill-rule="evenodd"-->
<!--                  d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z"-->
<!--                  clip-rule="evenodd"></path>-->
<!--          </svg>-->
<!--          <span>scroll-snap-type</span></a><a-->
<!--          class="group flex items-center gap-2 hover:text-gray-900 dark:hover:text-white"-->
<!--          href="/docs/user-select"><span>user-select</span>-->
<!--          <svg viewBox="0 0 16 16" fill="currentColor" class="size-4">-->
<!--            <path fill-rule="evenodd"-->
<!--                  d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z"-->
<!--                  clip-rule="evenodd"></path>-->
<!--          </svg>-->
<!--        </a></div>-->
      </footer>
    </div>
  </div>
<!--  <div class="max-xl:hidden">-->
<!--    <div class="sticky top-14 max-h-[calc(100svh-3.5rem)] overflow-x-hidden px-6 pt-10 pb-24">-->
<!--      <div class="flex flex-col gap-3">-->
<!--        <ins class="kakao_ad_area" style="display:none;"-->
<!--             data-ad-unit = "DAN-2nMLIisQJKH9qMpe"-->
<!--             data-ad-width = "160"-->
<!--             data-ad-height = "600"></ins>-->
<!--        <h3 class="font-mono text-sm/6 font-medium tracking-widest text-gray-500 uppercase sm:text-xs/6 dark:text-gray-400">-->
<!--        On this page-->
<!--        </h3>-->
<!--        <ul class="flex flex-col gap-2 border-l dark:border-[color-mix(in_oklab,_var(--color-gray-950),white_20%)] border-[color-mix(in_oklab,_var(--color-gray-950),white_90%)]">-->
<!--          <li class="-ml-px flex flex-col items-start gap-2">-->
<!--            <a class="inline-block border-l border-transparent text-base/8 text-gray-600 hover:border-gray-950/25 hover:text-gray-950 sm:text-sm/6 dark:text-gray-300 dark:hover:border-white/25 dark:hover:text-white aria-[current]:border-gray-950 aria-[current]:font-semibold aria-[current]:text-gray-950 dark:aria-[current]:border-white dark:aria-[current]:text-white pl-5 sm:pl-4"-->
<!--              type="button" data-headlessui-state="" href="#quick-reference">Quick reference</a>-->

<!--          </li>-->
<!--          <li class="-ml-px flex flex-col items-start gap-2"><a-->
<!--            class="inline-block border-l border-transparent text-base/8 text-gray-600 hover:border-gray-950/25 hover:text-gray-950 sm:text-sm/6 dark:text-gray-300 dark:hover:border-white/25 dark:hover:text-white aria-[current]:border-gray-950 aria-[current]:font-semibold aria-[current]:text-gray-950 dark:aria-[current]:border-white dark:aria-[current]:text-white pl-5 sm:pl-4"-->
<!--            type="button" data-headlessui-state="" href="#examples">Examples</a>-->
<!--            <ul-->
<!--              class="flex flex-col gap-2 border-l dark:border-[color-mix(in_oklab,_var(--color-gray-950),white_20%)] border-transparent">-->
<!--              <li class="-ml-px flex flex-col items-start gap-2"><a-->
<!--                class="inline-block border-l border-transparent text-base/8 text-gray-600 hover:border-gray-950/25 hover:text-gray-950 sm:text-sm/6 dark:text-gray-300 dark:hover:border-white/25 dark:hover:text-white aria-[current]:border-gray-950 aria-[current]:font-semibold aria-[current]:text-gray-950 dark:aria-[current]:border-white dark:aria-[current]:text-white pl-8 sm:pl-7.5"-->
<!--                type="button" data-headlessui-state="" href="#basic-example">Basic example</a></li>-->
<!--              <li class="-ml-px flex flex-col items-start gap-2"><a-->
<!--                class="inline-block border-l border-transparent text-base/8 text-gray-600 hover:border-gray-950/25 hover:text-gray-950 sm:text-sm/6 dark:text-gray-300 dark:hover:border-white/25 dark:hover:text-white aria-[current]:border-gray-950 aria-[current]:font-semibold aria-[current]:text-gray-950 dark:aria-[current]:border-white dark:aria-[current]:text-white pl-8 sm:pl-7.5"-->
<!--                type="button" data-headlessui-state="" href="#responsive-design">Responsive design</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <a href="https://www.refactoringui.com/?ref=sidebar" class="group">-->
<!--        <div class="mt-12 flex flex-col items-center justify-center">-->
<!--          <div class="relative origin-center -translate-x-3 rotate-6 p-6 duration-500 group-hover:rotate-0">-->
<!--            <div-->
<!--              class="absolute top-4 left-0 h-px w-full bg-[linear-gradient(to_right,_transparent_0%,_var(--gradient-bg)_9.27%,_var(--gradient-bg)_90.7%,_transparent_100%)] [--gradient-bg:var(--color-black)]/15 dark:[--gradient-bg:var(--color-white)]/10"></div>-->
<!--            <div-->
<!--              class="absolute top-0 left-4 h-full w-px bg-[linear-gradient(to_bottom,_transparent_0%,_var(--gradient-bg)_9.27%,_var(--gradient-bg)_90.7%,_transparent_100%)] [--gradient-bg:var(--color-black)]/15 dark:[--gradient-bg:var(--color-white)]/10"></div>-->
<!--            <img alt="Refactoring UI" loading="lazy" width="128" height="171.2" decoding="async" data-nimg="1"-->
<!--                 class="shadow-[-5px_10px_15px_-3px_var(--shadow-color),_-5px_4px_6px_-4px_var(--shadow-color)] duration-500 [--shadow-color:var(--color-black)]/10 dark:[--shadow-color:var(--color-black)]"-->
<!--                 srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbook-promo.27d91093.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbook-promo.27d91093.png&amp;w=256&amp;q=75 2x"-->
<!--                 src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbook-promo.27d91093.png&amp;w=256&amp;q=75"-->
<!--                 style="color: transparent;">-->
<!--            <div-->
<!--              class="absolute top-0 right-4 h-full w-px bg-[linear-gradient(to_bottom,_transparent_0%,_var(--gradient-bg)_9.27%,_var(--gradient-bg)_90.7%,_transparent_100%)] [--gradient-bg:var(--color-black)]/15 dark:[--gradient-bg:var(--color-white)]/10"></div>-->
<!--            <div-->
<!--              class="absolute bottom-4 left-0 h-px w-full bg-[linear-gradient(to_right,_transparent_0%,_var(--gradient-bg)_9.27%,_var(--gradient-bg)_90.7%,_transparent_100%)] [--gradient-bg:var(--color-black)]/15 dark:[--gradient-bg:var(--color-white)]/10"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="text-[0.815rem]/6 font-semibold text-sky-500 dark:text-sky-400">From the creators of Tailwind-->
<!--          CSS</p>-->
<!--        <p class="mt-1.5 text-[0.9375rem]/5 font-semibold text-gray-950 dark:text-white">Make your ideas look-->
<!--          awesome, without relying on a designer.</p>-->
<!--        <blockquote-->
<!--          class="mt-6 border-l border-black/5 pl-4 text-gray-600 dark:border-white/10 dark:text-gray-400"><p-->
<!--          class="text-[0.8125rem]/5 [hanging-punctuation:first_last]">“This is the survival kit I wish I had-->
<!--          when I started building apps.”</p>-->
<!--          <p class="mt-3 text-xs">Derrick Reimer, SavvyCal</p></blockquote>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
</div>
