
  <section id="rsa-tool" class="section">
    <h2>RSA Encrypt/Decrypt</h2>
    <p>RSA is an asymmetric encryption algorithm that uses public and private keys. It encrypts with the public key and decrypts with the private key.</p>
    <button id="generate-rsa-keys">Generate key pair</button>
    <br>
    <label for="rsa-public-key">Public Key:</label>
    <textarea id="rsa-public-key" rows="3" cols="50" readonly placeholder="Display after generating key pair"></textarea>
    <br>
    <label for="rsa-private-key">Private Key:</label>
    <textarea id="rsa-private-key" rows="3" cols="50" readonly placeholder="Display after generating key pair"></textarea>
    <br>
    <label for="rsa-input"></label><textarea id="rsa-input" rows="5" cols="50" placeholder="Enter your text here"></textarea>
    <br>
    <button id="encrypt-rsa">Encrypt</button>
    <button id="decrypt-rsa">Decrypt</button>
    <br>
    <label for="rsa-output"></label><textarea id="rsa-output" rows="5" cols="50" placeholder="Results are displayed here" readonly></textarea>
    <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit = "DAN-0od33CaefFPrkY1P"
         data-ad-width = "728"
         data-ad-height = "90"></ins>
  </section>

